body {
    background-color: #bab4b4;
}

* {
 text-align: center; 
 font-size: 18px;
}

.container {
   text-align: center;
    font-size: 70px; 
    color: #ff00ff;
}

.min {
    width: 250px;
    height: 250px;
    margin: 0 auto;          
    border-radius: 50%;
    overflow: hidden;        
}

.min img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    border-radius: 50%;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 40px;             
}

.item {
    text-align: center;     
}

.item img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

